@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-flow {
  --xy-edge-stroke-selected-default: #2ae5b9;
}

@layer base {
  *,
  ::before,
  ::after {
    @apply border-border-base scrollbar-thin scrollbar-thumb-euler-600 scrollbar-track-background-subtle scrollbar-thumb-rounded-full;
  }

  body {
    @apply border-border-base text-foreground-base bg-background-base body-md antialiased;
    text-rendering: optimizeLegibility;
  }

  h1 {
    @apply heading-1;
  }

  h2 {
    @apply heading-2;
  }

  h3 {
    @apply heading-3;
  }

  h4 {
    @apply heading-4;
  }

  .react-flow__attribution {
    display: none !important;
  }
}
